body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
}
canvas {
    max-width: 100%;
    height: auto;
}
.container {
    margin-top: 30px;
}
.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.enterprise-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.thrifty-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.hertz-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.back-button:hover {
    background-color: red;
}
.enterprise-button:hover {
    background-color: green;
}
.thrifty-button:hover {
    background-color: lightblue;
}
.hertz-button:hover {
    background-color: yellow;
}