body {
    font-family: 'Arial', sans-serif;
    background-color:white;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #33333380;
    color: white;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navbar-links .nav-item {
    display: inline;
}

.nav-link {
    color: white;
    font-size: 18px;
}

.nav-link:hover {
    text-decoration: underline;
}

    
.reserve-button {
    background-color: red;
    color: white;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: bold;
}
    
.reserve-button:hover {
    background-color: rgb(245, 88, 88)
}


.quiz-button{
    display: flex;
    align-items: center;
    background-color: white;
    color:black;
}


.car-card {
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}
    
.car-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.car-card .card-body {
    padding: 15px;
    height: 220px;
}

.car-card .card-title {
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: bold;
}

.car-card .price {
    color: red;
    font-size: 1.2em;
    font-weight: bold;
}

.car-card .ratings {
    color: orange
}


.filter-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.filter-container select,
.filter-container input {
    width: 180px;
    font-size: 14px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    width: 200px;
    margin-right: 10px;
}


.Cfooter {
    background-color: rgba(0, 0, 0, 0.363);
    color: white;
    padding: 40px 0;
    text-align: center;
}

.car-card:hover {
    border-color: blue;
    transform: scale(1.02);
}

#car-list {
    margin-top: 20px;
}

.seats{
    font-weight:bold;
}