.Bfooter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.637);
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
}
